# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where 3rd-party dependencies cache their data.
/priv/plts/

# Ignore .env files in case you add sensitive configs.
/.env

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarball (built via "mix hex.build").
devtodo-*.tar

# Temporary files, for example, from tests.
/tmp/

# Database files
*.db
*.db-shm
*.db-wal

# Static assets
/priv/static/assets/

# node_modules (if using npm)
/assets/node_modules/
